body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.cells {
  border-collapse: collapse;
}

.alive, .dead {
  border: 1px solid #999;
  width: 10px;
  height: 10px;
}

.alive {
  background-color: black;
}

.dead {
  background-color: white;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.set-cells {
  margin: 10px 0;
}

.speed {
  margin: 10px 0;
}